:host {
	display: grid;
	grid-template-columns: 1fr 120px;
}

.mine_cube {
	display: flex;
	align-items: center;
	border: 1px solid var(--base-color);
	width: 60px;
	height: 60px;
	padding: 5px;
	margin: 5px;
	justify-content: center;
}

.mine_line {
	display: flex;
	align-items: center;
}
