.mine_cube {
	display: flex;
  align-items: center;
	border: 1px solid var(--base-color);
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: 5px;
}

.mine_line{
  display: flex;
  align-items: center;
}
