:host {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 40px;
}

.contact-header {
	border: 3px solid var(--base-color);
	border-radius: 50%;
	width: 70%;
}

.contact-content {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	gap: 0;
}

.content__username {
	font-size: 45px;
}
