<div class="contact-header">
	<div>фотка</div>
	<div>
		<h2>Вишняков Кирилл</h2>
		<p>В сети</p>
	</div>
</div>

<div class="contact-about">
	<p>
		<span>Frontend разработчик(да ладно)</span>
		<span>О себе</span>
	</p>
	<p>
		<span>Telegram</span>
		<a href="" target="_blank"></a>
	</p>
	<p>
		<span>Vk</span>
		<a href="" target="_blank"></a>
	</p>
	<p>
		<span>Почта</span>
		<span> vishneakov.kirill&#64;gmail.com </span>
	</p>
	<p>
		<span>Номер телефона</span>
		<span> +7 (952) 834-93-88</span>
	</p>
	<p>
		<span>Дата рождения</span>
		<span> 25 февраля 2007г. </span>
	</p>
	<div>
		<img class="contact-about-img" src="assets/imgs/call.png" alt="call" />
		<p>Уведомления</p>
		<button></button>
	</div>
</div>

<div>
	<a href="https://t.me/kirill_visnea" target="_blank">Написать</a>
</div>
