.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #1e1e1e;
	color: #fff;
	font-family: 'Courier New', monospace;
	transition: opacity 1s ease;

	&.fade-out {
		opacity: 0;
	}
}

.logo {
	font-size: 2rem;
	margin-bottom: 20px;
	text-align: center;
}

.loading-text p {
	font-size: 1.2rem;
	white-space: pre;
}

.progress-bar {
	width: 80%;
	height: 10px;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 20px;
}

.progress {
	height: 100%;
	background: #4caf50;
	transition: width 0.1s ease;
}

.cursor {
	display: inline-block;
	font-size: 2rem;
	animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	50.01%,
	100% {
		opacity: 0;
	}
}

.power-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50dvh;
}

.power-button {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 20px #0f0;
	color: #0f0;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0 0 30px #0f0;
	}

	&:active {
		box-shadow: 0 0 10px #0f0;
	}
}
