.icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 64px;
    height: 64px;
    transition: transform 0.2s ease-in-out;
  }

  span {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
