<div class="project-container">
  <div class="projects-menu" #menu>
    @for (project of projectsMenu; track project.id) {
    <button
      class="projects-menu_btn cursor_pointer"
      (click)="activeProject.set(project.id)"
    >
      <p class="project-description-h">{{ project.title }}</p>
      <span class="project-description-text">{{ project.subtitle }}</span>
    </button>
    }
  </div>
  <div class="project-content">
    @for (project of projectsMenu; track project.id) { @if(activeProject() ===
    project.id){
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <div class="project-content-stack">
      @for (skill of project.stack; track skill) {
      <p class="project-content-skill">{{ skill }}</p>
      }
    </div>
    <p>{{ project.period }}</p>
    } }
  </div>
</div>
